Fehlende stnd. Aliase

Moin André,
mir ist aufgefallen, dass deine PostfixAdmin alternative keine standard Aliase (POSTMASTER, HOSTMASTER, etc.) anlegt. Soweit ich informiert bin werden diese von mehreren RFCs vorgeschrieben.

LG

Hi,
Postmaster sollte bei einem Mailserver tatsächlich unbedingt existieren.
Fehlt ein Alias oder eine Mailbox, bzw. sind diese inaktiv, zeigt mailcow jetzt eine Warnung an. :-)

Die anderen Namen hängen von unterschiedlichen Diensten ab:

| Name       | Service | RFC                 | 
|------------|---------|---------------------| 
| POSTMASTER | SMTP    | [RFC821]+[RFC822]   | 
| HOSTMASTER | DNS     | [RFC1033-RFC1035]   | 
| USENET     | NNTP    | [RFC977]            | 
| NEWS       | NNTP    | SynonymforUSENET    | 
| WEBMASTER  | HTTP    | [RFC2068]           | 
| WWW        | HTTP    | SynonymforWEBMASTER | 
| UUCP       | UUCP    | [RFC976]            | 
| FTP        | FTP     | [RFC959]            | 

Danke für den Hinweis!

Hast es ja schon angepasst wie ich sehe :+1: 
Ich würd gern selbst Hand anlegen, aber ich und php ham' nen echt schlechtes Verhältnis :/
Finde den Hinweis etwas 'mager'. Besser wäre natürlich ein anlegen der Aliasse beim hinzufügen der ersten Mailbox einer Domain.

Ich schau mir mal den code an und evtl. komm ich ja auf nen grünen Zweig. Ich halt' das nur für unwarscheinlich :'(

Beim anlegen der ersten mailbox ist zu spät.  Es muss angelegt werden sobald die domain angelegt wird.

-----Original Message-----
From: ttoups <notifications@github.com>
To: andryyy/mailcow <mailcow@noreply.github.com>
Sent: So., 02 Aug. 2015 13:20
Subject: Re: [mailcow] Fehlende stnd. Aliase (#67)

Hast es ja schon angepasst wie ich sehe :+1: 
Ich würd gern selbst Hand anlegen, aber ich und php ham' nen echt schlechtes Verhältnis :/
Finde den Hinweis etwas 'mager'. Besser wäre natürlich ein anlegen der Aliasse beim hinzufügen der ersten Mailbox einer Domain.

Ich schau mir mal den code an und evtl. komm ich ja auf nen grünen Zweig. Ich halt' das nur für unwarscheinlich :'(

---
Reply to this email directly or view it on GitHub:
https://github.com/andryyy/mailcow/issues/67#issuecomment-127016850


aber mit welchem ziel?

Guter Punkt! Im Zweifel root?!

-----Original Message-----
From: ttoups <notifications@github.com>
To: andryyy/mailcow <mailcow@noreply.github.com>
Cc: mf3hd <mf3hd@xarpo.de>
Sent: So., 02 Aug. 2015 13:40
Subject: Re: [mailcow] Fehlende stnd. Aliase (#67)

aber mit welchem ziel?

---
Reply to this email directly or view it on GitHub:
https://github.com/andryyy/mailcow/issues/67#issuecomment-127018485


All, this is a international forum, can we please keep the language in English please ? This way everyone can benefit from the knowledge sharing 😉

Thanks in advance 
Kim



> On 02/08/2015, at 16.14, mf3hd <notifications@github.com> wrote:
> 
> Guter Punkt! Im Zweifel root?
> -----Original Message-----
> From: ttoups <notifications@github.com>
> To: andryyy/mailcow <mailcow@noreply.github.com>
> Cc: mf3hd <mf3hd@xarpo.de>
> Sent: So., 02 Aug. 2015 13:40
> Subject: Re: [mailcow] Fehlende stnd. Aliase (#67)
> 
> aber mit welchem ziel?
> 
> ---
> Reply to this email directly or view it on GitHub:
> https://github.com/andryyy/mailcow/issues/67#issuecomment-127018485
> —
> Reply to this email directly or view it on GitHub.
> 


Hi,
First things first: we only need a "postmaster", host/web/whatevermaster must be evaluated by the admin.
You already pointed it out: We cannot create a postmaster with an empty destination. Redirecting postmaster to root/nobody may be confusing for some people.
I think this red line (I can make it more readable/ugly :-)) is annoying enough to create a postmaster. Or we add a bootstrap alert.